BODY {
    background-color:#FFF;
    padding:10px;
    margin:0px;
}
BODY, TD {
	font-family:Arial,Helvetica;
	font-size:x-small;
	color:#0a2972;
}
A {
    text-decoration:none;
	color:#0a2972;
}
TD {
	vertical-align:top;
}
TH {
    text-align:left;
}

FORM {
    margin:0px;
}
INPUT.minmax {
	width:50px;
}
.fullWidth {
    width:100%;
}
TABLE.darkHeader TH {
    padding-left:5px;
    padding-right:5px;
    font-weight:normal;
    font-size:small;
    background-color:#f7941e;
    color:#FFF;
}

#content {
    background-color:#FFF;
    margin-left:auto;
    margin-right:auto;
}

#header {
    margin-top:5px;
    height:60px;
}
#header TD {
	border:1px solid #CCC;
	vertical-align:middle;
	padding:4px;
}
#banner {
    padding-left:10px;
    background-color:#FFF;
}
#banner IMG {
    margin-right:15px;
}
#bannerimg {
    width:468px;
    height:60px;
}
#login {
    padding-left:10px;
    padding-right:20px;
    font-size:80%;
    text-align:right;
}
#login INPUT {
    width:80px;
    margin-bottom:4px;
}
#status {
    width:120px;
    text-align:center;
}

#mid {
    margin-top:20px;
}

#menu {
	width:100px;
}
#menu INPUT {
	width:100%;
    padding:4px;
	margin-bottom:6px;
}

#map {
}
#map_canvas {
    width:600px; 
    height:400px;
    margin-right:10px;
}

#tabs {
	margin-top:10px;
	margin-bottom:10px;
}

#bottom {
    margin-top:0px;
}
#bottom TD {
	border:1px solid #CCC;
	vertical-align:middle;
	padding:4px;
}
#bottom TABLE {
    width:100%;
}

#graphs {
    width:70%;
}
#msg {
    width:30%;
}
